// hamburger menu
#menuToggle {
    display: none;
    position: relative;
    top: 3px;
    left: 0px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

#menuToggle a {
    text-decoration: none;
    color: $default;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: $fc700;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: $fc700;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: $fc700;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 320px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: rgba(61, 61, 61, 0.72);
    backdrop-filter: blur(10px);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    right: -15px;
}

#menu li {
    @extend %font-r;
    padding: 40px 0;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
}

#menuToggle input:checked~ul {
    transform: none;
}

// end hamburger
// 480
@media (max-width: 480px) {
    #menu {
        width: 480px;
        height: 100vh;
    }
    #menuToggle {
        display: block;
    }
    .burger-btn {
        display: block;
        text-align: center;
        margin-top: 15px;
    }
}

// 320
@media (max-width: 320px) {
    #menu {
        width: 320px;
        height: 100vh;
    }
    #menuToggle {
        display: block;
    }
    .burger-btn {
        display: block;
        text-align: center;
        margin-top: 15px;
    }
}