.services {
    &-inner {
        padding-top: 199px;
        position: relative;
        h3 {
            @extend %font-b;
            font-size: 48px;
            line-height: 55px;
            text-align: center;
            color: $fc100;
            margin-bottom: 100px;
            span {
                color: $fc200;
                @extend %font-b;
            }
        }
    }
    &-inner::before {
        background-image: url('/img/svg/services-el.svg');
        content: "";
        background-repeat: no-repeat;
        width: 500px;
        height: 300px;
        display: inline-block;
        background-size: cover;
        background-position: center;
        top: 25px;
        bottom: 0;
        right: -59px;
        position: absolute;
    }
    &-list__top {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            text-align: center;
            background: #FFFFFF;
            box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.06);
            border-radius: 24px;
            width: 360px;
            height: 270px;
            cursor: pointer;
            transition: all 0.5s linear;
        }
        li:hover {
            box-shadow: 0px 4px 28px rgba(8, 5, 3, 0.1);
            transition: all 0.3s linear;
            background: rgba(42, 169, 21, 0.18);
        }
        li+li {
            margin-left: 24px;
        }
        img {
            padding-top: 49px;
            margin-bottom: 47px;
        }
        h2 {
            @extend%font-m;
            font-size: 24px;
            line-height: 29px;
            color: #2F2F2F;
            margin-bottom: 12px;
        }
        p {
            padding: 0px 41px 30px;
            @extend%font-r;
            color: #4B4B4B;
        }
        span {
            color: $fc200;
        }
    }
    &-list__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 44px;
        li {
            text-align: center;
            background: #FFFFFF;
            box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.06);
            border-radius: 24px;
            width: 360px;
            height: 270px;
            cursor: pointer;
            transition: all 0.5s linear;
        }
        li:hover {
            box-shadow: 0px 4px 28px rgba(8, 5, 3, 0.1);
            transition: all 0.3s linear;
            background: rgba(42, 169, 21, 0.18);
        }
        li+li {
            margin-left: 24px;
        }
        img {
            padding-top: 49px;
            margin-bottom: 47px;
        }
        h2 {
            @extend%font-m;
            font-size: 24px;
            line-height: 29px;
            color: #2F2F2F;
            margin-bottom: 12px;
        }
        p {
            padding: 0px 41px 30px;
            @extend%font-r;
            color: #4B4B4B;
        }
        span {
            color: $fc200;
        }
    }
    &-inner__btn {
        @extend%font-sb;
        display: flex;
        justify-content: center;
        margin-top: 80px;
        button {
            transition: all 0.5s linear;
        }
    }
    &-inner__btn button:hover {
        background: linear-gradient(94.04deg, rgba(48, 201, 23, 0.12) 1.24%, rgba(39, 154, 19, 0.12) 98.27%);
        border: 2px solid $fc200;
        color: $fc200;
        transition: all 0.3s linear;
    }
}

// 768
@media (max-width: 768px) {
    .services {
        &-list__top {
            p {
                padding: 0 5px 0;
                font-size: 15px;
                line-height: 18px;
            }
        }
        &-list__bottom {
            p {
                padding: 0 5px 0;
                font-size: 15px;
                line-height: 18px;
            }
        }
    }
}

// 600
@media (max-width: 600px) {
    .services {
        &-inner {
            padding-top: 125px;
            h3 {
                margin-bottom: 50px;
            }
        }
        &-list__top {
            flex-direction: column;
            li {
                width: 360px;
            }
            li+li {
                margin-left: 0;
                margin-top: 24px;
            }
        }
        &-list__bottom {
            flex-direction: column;
            li {
                width: 360px;
            }
            li+li {
                margin-left: 0;
                margin-top: 24px;
            }
        }
        &-inner__btn {
            margin-top: 40px;
        }
    }
}

// 480
@media (max-width: 480px) {
    .services {
        &-inner {
            padding-top: 125px;
            h3 {
                margin-bottom: 50px;
            }
        }
        &-list__top {
            flex-direction: column;
            li {
                width: 360px;
            }
            li+li {
                margin-left: 0;
                margin-top: 24px;
            }
        }
        &-list__bottom {
            flex-direction: column;
            li {
                width: 360px;
            }
            li+li {
                margin-left: 0;
                margin-top: 24px;
            }
        }
        &-inner__btn {
            margin-top: 40px;
        }
    }
}

// 320
@media (max-width: 320px) {
    .services {
        &-inner {
            padding-top: 125px;
            h3 {
                margin-bottom: 50px;
            }
        }
        &-list__top {
            flex-direction: column;
            li {
                width: 300px;
            }
            li+li {
                margin-left: 0;
                margin-top: 24px;
            }
        }
        &-list__bottom {
            flex-direction: column;
            li {
                width: 300px;
            }
            li+li {
                margin-left: 0;
                margin-top: 24px;
            }
        }
        &-inner__btn {
            margin-top: 40px;
        }
    }
}