<div class="dashbord">
    <div class="container">
        <div class="dashbord-inner">
            <div class="dashbord-inner__chart">
                <div class="dashbord-chart">
                    <ul class="dashbord-chart__list">
                        <li class="dashbord-chart__item">
                            <div class="dashbord-chart__box dashbord-chart__box--h1">
                                <h2>APY</h2>
                            </div>
                            <div class="dashbord-chart__item--sub">
                                Liquidity Provision
                            </div>
                        </li>
                        <li class="dashbord-chart__item">
                            <div class="dashbord-chart__box dashbord-chart__box--h2">
                                <h2>APY</h2>
                            </div>
                            <div class="dashbord-chart__item--sub">
                                Lending
                            </div>
                        </li>
                        <li class="dashbord-chart__item">
                            <div class="dashbord-chart__box dashbord-chart__box--h3">
                                <h2>APY</h2>
                            </div>
                            <div class="dashbord-chart__item--sub">
                                Auto Rewards
                            </div>
                        </li>
                        <li class="dashbord-chart__item">
                            <div class="dashbord-chart__box dashbord-chart__box--h4">
                                <h2>APY</h2>
                            </div>
                            <div class="dashbord-chart__item--sub">
                                Staking
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="dashbord-inner__cont">
                <h3>Earn Extra Yield</h3>
                <p>Let Harvest do the hard work</p>
                <ul>
                    <li>
                        <img src="../img/svg/dash-icon-1.svg" alt="dash-icon-1">
                        <p>Auto-compounding</p>
                    </li>
                    <li>
                        <img src="../img/svg/dash-icon-2.svg" alt="dash-icon-2">
                        <p>Auto rewards</p>
                    </li>
                    <li>
                        <img src="../img/svg/dash-icon-3.svg" alt="dash-icon-3">
                        <p>Farm rewards</p>
                    </li>
                    <li>
                        <img src="../img/svg/dash-icon-4.svg" alt="dash-icon-4">
                        <p>Unique DAO token rewards</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>