<div class="farm">
    <div class="container">
        <div class="farm-inner">
            <h3>Farm</h3>
            <ul class="farm-inner__list">
                <li class="farm-inner__item">
                    <div class="farm-box">
                        <div class="farm-box__text">
                            <img src="/img/farm-icon-1.webp" alt="farm-icon-1">
                            <div class="farm-box__sub">
                                <h2>Earn FARM - BNB</h2>
                                <p>Stake FARM - Earn FARM</p>
                            </div>
                        </div>
                        <div class="farm-box__el"></div>
                        <div class="farm-btn">
                            <div class="farm-btn__list">
                                <div class="farm-btn__item">
                                    <h2>APR</h2>
                                    <p>78.2 %</p>
                                </div>
                                <div class="farm-btn__item">
                                    <button>Start Earning</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="farm-inner__item">
                    <div class="farm-box">
                        <div class="farm-box__text">
                            <img src="/img/farm-icon-2.webp" alt="farm-icon-2">
                            <div class="farm-box__sub">
                                <h2>Earn FARM - BNB</h2>
                                <p>Stake FARM - Earn FARM</p>
                            </div>
                        </div>
                        <div class="farm-box__el"></div>
                        <div class="farm-btn">
                            <div class="farm-btn__list">
                                <div class="farm-btn__item">
                                    <h2>APR</h2>
                                    <p>78.2 %</p>
                                </div>
                                <div class="farm-btn__item">
                                    <button>Start Earning</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="farm-inner__item">
                    <div class="farm-box">
                        <div class="farm-box__text">
                            <img src="/img/farm-icon-3.webp" alt="farm-icon-3">
                            <div class="farm-box__sub">
                                <h2>Auto-compound</h2>
                                <p>Stake BSW - Earn BSW</p>
                            </div>
                        </div>
                        <div class="farm-box__el"></div>
                        <div class="farm-btn">
                            <div class="farm-btn__list">
                                <div class="farm-btn__item">
                                    <h2>APR</h2>
                                    <p>28.5 %</p>
                                </div>
                                <div class="farm-btn__item">
                                    <button>Start Earning</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>