<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <h3>Follow us</h3>
            <div class="footer-inner__social">
                <ul>
                    <li>
                        <a href="#">
                            <img src="/img/svg/youtube.svg" alt="youtube">
                            <p>Youtube</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/svg/facebook.svg" alt="facebook">
                            <p>Facebook</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/svg/telegram.svg" alt="telegram">
                            <p>Telegram</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/svg/twitter.svg" alt="twitter">
                            <p>Twitter</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-inner__copy">
                <h2>Copyright © 2022 FarmGrow. All rights reserved. </h2>
            </div>
        </div>
    </div>
</footer>