<header class="header">
    <div class="container">
        <div class="header-top">
            <div class="header-top__logo">
                <img src="../img/svg/logo.svg" alt="logo">
            </div>
            <nav class="header-top__menu">
                <ul>
                    <li>
                        <a href="#">Tokenomics</a>
                    </li>
                    <li>
                        <a href="#">Statistics</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                </ul>
            </nav>
            <!-- hamburger menu -->
            <nav role="navigation">
                <div id="menuToggle">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="menu">
                        <a href="#">
                            <li>Tokenomics</li>
                        </a>
                        <a href="#">
                            <li>Statistics</li>
                        </a>
                        <a href="#">
                            <li>Blog</li>
                        </a>
                        <div class="header-top__btn burger-btn">
                            <button class="global-btn" type="submit">Button</button>
                        </div>
                    </ul>
                </div>
            </nav>
            <!-- end hamburger -->
            <div class="header-top__btn ">
                <button class="global-btn">Button</button>
            </div>
        </div>
        <div class="header-cont">
            <div class="header-cont__text">
                <h3>Earn Yield on <span>Your Crypto</span> </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id in nec nullam faucibus et</p>
                <button>Start Earning</button>
            </div>
            <div class="header-cont__img">
                <div class="header-img">
                    <div class="header-img__first">
                        <ul>
                            <li class="header-img__item"><img src="../img/svg/h-icon-6.svg" alt="header-icon-6"></li>
                            <li class="header-img__item"><img src="../img/svg/h-icon-5.svg" alt="header-icon-5"></li>
                        </ul>
                    </div>
                    <div class="header-img__second">
                        <ul>
                            <li class="header-img__item"><img src="../img/h-icon-1.svg" alt="header-icon-1"></li>
                            <li class="header-img__item header-img__el"><img src="../img/svg/h-icon-7.svg" alt="header-icon-7"></li>
                            <li class="header-img__item"><img src="../img/svg/h-icon-4.svg" alt="header-icon-4"></li>
                        </ul>
                    </div>
                    <div class="header-img__third">
                        <ul>
                            <li class="header-img__item"><img src="../img/svg/h-icon-2.svg" alt="header-icon-2"></li>
                            <li class="header-img__item"><img src="../img/svg/h-icon-3.svg" alt="header-icon-3"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>