<div class="info">
    <div class="container">
        <div class="info-inner">
            <h3>Information</h3>
            <ul>
                <li>
                    <img src="../img/svg/info-icon-1.svg" alt="info-icon-1">
                    <p>Total Volume</p>
                    <span>$ 48.36B</span>
                </li>
                <li>
                    <img src="../img/svg/info-icon-2.svg" alt="info-icon-2">
                    <p>24H Volume</p>
                    <span>$33.70M</span>
                </li>
                <li>
                    <img src="../img/svg/info-icon-3.svg" alt="info-icon-3">
                    <p>Active Users</p>
                    <span>486.59K</span>
                </li>
                <li>
                    <img src="../img/svg/info-icon-4.svg" alt="info-icon-4">
                    <p>Trade Fee Saved</p>
                    <span>$ 116.05M </span>
                </li>
                <li>
                    <img src="../img/svg/info-icon-5.svg" alt="info-icon-5">
                    <p>LP Earned</p>
                    <span>$ 24.18M</span>
                </li>
                <li>
                    <img src="../img/svg/info-icon-6.svg" alt="info-icon-6">
                    <p>Active Pools</p>
                    <span>$ 34.36B</span>
                </li>
                <li>
                    <img src="../img/svg/info-icon-7.svg" alt="info-icon-7">
                    <p>TVL</p>
                    <span>$33.70M</span>
                </li>
                <li>
                    <img src="../img/svg/info-icon-8.svg" alt="info-icon-8">
                    <p>Circulating supply</p>
                    <span>486.59K</span>
                </li>
            </ul>
        </div>
    </div>
</div>