<div class="pool">
    <div class="container">
        <div class="pool-inner">
            <h3>Upcoming Pools</h3>
            <ul class="pool-inner__list">
                <li class="pool-inner__item">
                    <div class="pool-text">
                        <img src="img/pool-icon-1.webp" alt="pool-icon-1">
                        <div class="pool-text__cont">
                            <h2>Earn FARM - BNB</h2>
                            <p>Stake FARM - Earn FARM</p>
                        </div>
                    </div>
                    <div class="pool-el"></div>
                    <div class="pool-btn">
                        <div class="pool-btn__cont">
                            <h2>APR</h2>
                            <p>78.2 %</p>
                        </div>
                        <button>Start Earning</button>
                    </div>
                </li>
                <li class="pool-inner__item">
                    <div class="pool-text">
                        <img src="img/pool-icon-2.webp" alt="pool-icon-2">
                        <div class="pool-text__cont">
                            <h2>Earn FARM - BNB</h2>
                            <p>Stake FARM - Earn FARM</p>
                        </div>
                    </div>
                    <div class="pool-el"></div>
                    <div class="pool-btn">
                        <div class="pool-btn__cont">
                            <h2>APR</h2>
                            <p>78.2 %</p>
                        </div>
                        <button>Start Earning</button>
                    </div>
                </li>
                <li class="pool-inner__item">
                    <div class="pool-text">
                        <img src="img/pool-icon-3.webp" alt="pool-icon-3">
                        <div class="pool-text__cont">
                            <h2>Earn FARM - BNB</h2>
                            <p>Stake FARM - Earn FARM</p>
                        </div>
                    </div>
                    <div class="pool-el"></div>
                    <div class="pool-btn">
                        <div class="pool-btn__cont">
                            <h2>APR</h2>
                            <p>78.2 %</p>
                        </div>
                        <button>Start Earning</button>
                    </div>
                </li>
                <li class="pool-inner__item">
                    <div class="pool-text">
                        <img src="img/pool-icon-4.webp" alt="pool-icon-4">
                        <div class="pool-text__cont">
                            <h2>Earn FARM - BNB</h2>
                            <p>Stake FARM - Earn FARM</p>
                        </div>
                    </div>
                    <div class="pool-el"></div>
                    <div class="pool-btn">
                        <div class="pool-btn__cont">
                            <h2>APR</h2>
                            <p>78.2 %</p>
                        </div>
                        <button>Start Earning</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>