<div class="sponsore">
    <div class="container">
        <div class="sponsore-inner">
            <div class="sponsore-inner__banner">
                <h3>Feautured In</h3>
                <ul>
                    <li>
                        <img src="/img/sponsore-img-1.webp" alt="sponsore-img-1">
                    </li>
                    <li>
                        <img src="/img/sponsore-img-2.webp" alt="sponsore-img-2">
                    </li>
                    <li>
                        <img src="/img/sponsore-img-3.webp" alt="sponsore-img-3">
                    </li>
                </ul>
            </div>
            <div class="sponsore-inner__audit">
                <h3>Audited By</h3>
                <ul>
                    <li>
                        <img src="/img/sponsore-img-4.webp" alt="sponsore-img-4">
                    </li>
                    <li>
                        <img src="/img/sponsore-img-5.webp" alt="sponsore-img-5">
                    </li>
                    <li>
                        <img src="/img/sponsore-img-6.webp" alt="sponsore-img-6">
                    </li>
                    <li>
                        <img src="/img/sponsore-img-7.webp" alt="sponsore-img-7">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>