<div class="token">
    <div class="container">
        <div class="token-inner">
            <div class="token-inner__card">
                <ul>
                    <li>
                        <div class="token-inner__cont">
                            <h2>Farm Token</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id in nec nullam faucibus et</p>
                            <button class="global-btn">Start Earning</button>
                        </div>
                    </li>
                    <li>
                        <div class="token-inner__cont--el">
                            <h2>Contribute and Earn</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id in nec nullam faucibus et</p>
                            <button class="global-btn">Start Earning</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="token-buy">
        <div class="container">
            <div class="token-buy__inner">
                <h3><span>Buy</span>and Earn</h3>
                <ul>
                    <li>
                        <img src="/img/token-buy-1.webp" alt="token-buy-1">
                        <button>Buy $FARM<span></span></button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>