<div class="video">
    <div class="container">
        <div class="video-inner">
            <iframe src="https://www.youtube.com/embed/fVF5_6XfdgQ" title="Green Neon Love Heart Tunnel and Romantic Abstract Glow 4K Moving Wallpaper Background Tik Tok" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="video-el">
        <img src="../img/svg/video-icon.svg" alt="video-icon">
    </div>
</div>